$white-color: #ffffff;
$green-color: #98c379;
$red-color: #df4848;
$red-light-color: #e06c6c;
$orange-color: #d19a66;
$blue-color: #56b6c2;
$dark-gray-color: #212224;
$gray-color: #323437;
$gray-active-color: #2e3033;
$gray-light-color: #c9cecb;
$gray-separator-color: #2b2c2f;
